.wrappers {
    width: 300px;
    min-height: 1000px;
    padding: 20px 0 26px 8px;
    position: fixed;
}
.button-login {
    height: 52px;
    margin-top: 100px;
    width: 290px;
}
.sign-loggin {
    height: 40px;
    position: absolute;
    font-size: 16px;
    margin-top: 15px;
    color: #bababa;
    font-weight: 500;
}
.border-loggin {
    height: 190px;
    border-top: 1px solid #ccc;
}
