.img-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment-user {
    display: flex;
    margin-bottom: 6px;
    width: 430px;
}

.list-comment {
    margin-top: -3px;
    font-weight: 400;
}
.tim {
    // right: 50px;
    padding: 8px 0px;
    text-align: center;
}
.anserw {
    display: flex;
    text-align: center;
    margin-top: -8px;
    margin-bottom: 10px;
    margin-left: 47px;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.5);
    font-size: 14px;
    line-height: 20px;
}
.time_comment {
    margin-right: 40px;
    margin-top: -2px;
}
.icondot {
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(248, 248, 248);
    outline: none;
    border: none;
    padding: 3px 10px;
}
